{% extends 'index.html' %}{% block title %}
<title>channels</title>
{% endblock %}{% block header %}
<div class="header-menu">
    <div>チャンネル一覧</div>
    <div>ログアウト</div>
</div>
{% endblock %}{% block body %}
<main>
    <div class="create-channel">
        <div class="create-channel-title">チャンネル作成→</div>
        <button id="openModalBtn">
            <img src="../static/img/add.PNG" class="add-img">
        </button>
        <div id="channelModal" class="modal">
            <div class="modal-content">
                <h3 id="modalTitle">チャンネル作成</h3>
                <p>チャンネル名</p>
                <input type="text" placeholder="チャンネル名を入れてください" id="channelName">
                <p>チャンネル概要</p>
                <textarea id="channelSummary" placeholder="チャンネル概要を入れてください"></textarea><br>
                <button id="submitBtn">OK</button>
                <button id="closeModalBtn">キャンセル</button>
            </div>
        </div>
    </div>
    <div class="channel-title-box">
        <div class="channel-box">
            <img src="../static/img/saberiba.png" class="channel-img">
            <div class="channel-title">
                チャンネル1
            </div>
            <div class="icon-set">
                <button>
                    <img src="../static/img/edit-pen.png" class="edit-pen">
                </button>
                <button>
                    <img src="../static/img/delete-trashbox.png" class="delete-trashbox">
                </button>
                <div id="deleteModal" class="modal">
                    <div class="modal-content">
                        <p>このチャンネルを削除してもよろしいですか？</p>
                        <button id="confirmDeleteBtn">削除</button>
                        <button id="cancelDeleteBtn">キャンセル</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="channel-summary">
            チャンネル1概要
        </div>
    </div>
    <div class="channel-title-box">
        <div class="channel-box">
            <img src="../static/img/saberiba.png" class="channel-img">
            <div class="channel-title">
                チャンネル2
            </div>
        </div>
        <div class="channel-summary">
            チャンネル2概要
        </div>
    </div>
    <div class="channel-title-box">
        <div class="channel-box">
            <img src="../static/img/saberiba.png" class="channel-img">
            <div class="channel-title">
                チャンネル3
            </div>
        </div>
        <div class="channel-summary">
            チャンネル3概要
        </div>
    </div>
    <div class="channel-title-box">
        <div class="channel-box">
            <img src="../static/img/saberiba.png" class="channel-img">
            <div class="channel-title">
                チャンネル4
            </div>
        </div>
        <div class="channel-summary">
            チャンネル4概要
        </div>
    </div>
    <div class="channel-title-box">
        <div class="channel-box">
            <img src="../static/img/saberiba.png" class="channel-img">
            <div class="channel-title">
                チャンネル5
            </div>
        </div>
        <div class="channel-summary">
            チャンネル5概要
        </div>
    </div>
    <div class="channel-title-box">
        <div class="channel-box">
            <img src="../static/img/saberiba.png" class="channel-img">
            <div class="channel-title">
                チャンネル6
            </div>
        </div>
        <div class="channel-summary">
            チャンネル6概要
        </div>
    </div>
    <div class="channel-title-box">
        <div class="channel-box">
            <img src="../static/img/saberiba.png" class="channel-img">
            <div class="channel-title">
                チャンネル7
            </div>
        </div>
        <div class="channel-summary">
            チャンネル7概要
        </div>
    </div>
</main>
<script src="{{ url_for('static', filename='js/create-channel.js') }}"></script>
<script src="{{ url_for('static', filename='js/delete-channel.js') }}"></script>
{% endblock %}